@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.homapage-logo{
    position: absolute;
    text-align: center;
    min-width: 20vw;
    /* height: 400px; */
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin: auto; /* Center horizontally */
    /* left: calc(50vw - 150px); */
    left: calc(50vw - 220px);
    bottom: 25vh;
    margin-bottom: 30px;
}

.image-section {
    width: 100%;
    height: 50vh;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blue-section {
    background-image: linear-gradient(90deg,#0d4fad,#09397e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
  
.centered-heading {
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 130px;
    line-height: 1.5;
    font-size: 2.5rem;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 0.1rem;
}
.home-date{
    font-family: 'open sans';
}
.name-place{
    display: flex;
   height: 50px;
}
@media all and (max-width:1220px) {
    .heading{
        font-size: 8rem;
    }
}

@media all and (max-width:991px) {
    .heading{
        top: 37vh;
        font-size: 6rem;
        left: 20px;
    }
    .homapage-logo{
        /* height: 250px;
        width: 250px; */
        left: calc(50vw - 200px);
        bottom: 42vh;
    }
    .centered-heading{
        font-size: 2rem;
        margin-top: 60px;
    }
}
@media all and (max-width:768px) {
    .heading{
        top: 32vh;
        font-size: 6rem;
    }
    .remaining-time-div{
        font-size: 2.5rem;
        bottom: 150px;
    }
    .duration{
        font-size: 1.2rem;
    }
    .homapge-logo{
        left: calc(50vw - 150px);
    }
    .time-div p{
        margin-bottom: 10px;
    }
    .homapage-logo{
       bottom: 35vh;
    }
    .centered-heading{
        font-size: 1.7rem;
        margin-top: 60px;
    }
    .image-section {
        height: 50vh;
    } 
    .blue-section {
        height: 50vh;
    }
    .IITGN-icon{
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }
}
@media all and (max-width:576px) {
    .centered-heading{
        font-size: 1.5rem;
    }
    .homapage-logo{
        bottom: 30vh;
    }
    .name-place{
        flex-direction: column;
    }
    .IITGN-icon{
        position: relative;
        top: 30px;
        left: 15px;
    }
}
@media all and (max-width:479px) {
    .heading{
        top: 32vh;
        font-size: 5rem;
    }
    .centered-heading{
        font-size: 1.3rem;
        margin-top: 60px;
    }
    .homapage-logo{
        width: 300px;
        left: calc(50vw - 150px);
        bottom: calc(50vh - 140px);
    }
}
@media all and (max-width:380px) {
    .heading{
        top: 32vh;
        font-size: 4rem;
    }
    .remaining-time-div{
        font-size: 2rem;
        bottom: 150px;
    }
}