@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:wght@500&family=Roboto:wght@500&display=swap');

.homapage-logo{
    position: absolute;
    text-align: center;
    min-width: 25vw;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin: auto; /* Center horizontally */
    /* left: calc(50vw - 150px); */
    left: 38vw;
    bottom: 38vh;
}

.image-section {
    width: 100%;
    height: 50vh;
}
  
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blue-section {
    background-color: #102661;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}
  
.centered-heading {
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 1.5;
}

@media all and (max-width:1220px) {
    .heading{
        font-size: 8rem;
    }
}
@media all and (max-width:991px) {
    .heading{
        top: 37vh;
        font-size: 6rem;
        left: 20px;
    }
}
@media all and (max-width:768px) {
    .heading{
        top: 32vh;
        font-size: 6rem;
    }
    .remaining-time-div{
        font-size: 2.5rem;
        bottom: 150px;
    }
    .duration{
        font-size: 1.2rem;
    }
    .homapge-logo{
        left: calc(50vw - 150px);
    }
    .time-div p{
        margin-bottom: 10px;
    }
}
@media all and (max-width:479px) {
    .heading{
        top: 32vh;
        font-size: 5rem;
    }
}
@media all and (max-width:380px) {
    .heading{
        top: 32vh;
        font-size: 4rem;
    }
    .remaining-time-div{
        font-size: 2rem;
        bottom: 150px;
    }
}